body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #1A0B2E;
}
.gradient{
    background: linear-gradient(to top, #FFD86F, #FF4ECD, #8F00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient1{
    background: linear-gradient(to right,  #FF4ECD, #8F00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* navbar */

.name{
    transition: all 0.6s ease;
}
.name:hover{
    transform: translatey(-5px);
    
}
.navbar{
    background-color: #1A0B2E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    border-bottom: 1px solid rgb(71, 70, 70);
    animation:lefttoright 0.7s ease ;
    
}

a{
    text-decoration: none;
    color: white;
    transition: all 0.6s ease;
}
a:hover{
    transform: translatey(-5px);
    text-decoration: underline;
}
.btn{
     background: linear-gradient(20deg, #FFD86F, #FF4ECD, #8F00FF);
     color: white;
     border: none;
     padding: 6px;
     border-radius: 20px;
     font-weight: bold;
     transition: all 0.6s ease;

}
.btns{
     background: linear-gradient(20deg, #FFD86F, #FF4ECD, #8F00FF);
     color: white;
     border: none;
     padding: 6px;
     border-radius: 20px;
     font-weight: bold;
     transition: all 0.6s ease;
}
.btns:hover{
    transform: translatey(-5px);
}
.btn:hover{
    transform: translatey(-5px);
}

.link{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.hamburger{
    display: none;
}

@keyframes lefttoright {
    from{
        transform: translateX(-50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes righttoleft {
    from{
        transform: translateX(50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

/* frist-section */
.frist-section{
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding:60px 0px;
    background-position: center;
    animation:righttoleft 0.7s ease ;
    
}
.microback{
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 100px;
    position: relative;
    
}
.badge{
    color: black;
    position: absolute;
    top: 20%;
    right: 40%;
    background-color: #00FF88;
    padding:5px 10px;
    border: none;
    border-radius: 20px;
}
.fristroot{
    text-align: center;
    color: white;
}

.btnsection{
    display: flex;
    justify-content: center;
    gap: 15px;

}
.position{
    display:flex; justify-content: center; align-items: center; gap: 5px; padding: 5px 10px;
}
.masagebtn{
    border: 1px solid #00FF88;
    color: #00FF88;
    background: transparent;
    border-radius: 20px;
    transition: all 0.6s ease;
}
.masagebtn:hover{
    transform: translatey(-5px);
}

/* second-section */
.second-section{
   
    margin: 0px 200px;
    border-bottom: 1px solid rgb(71, 70, 70);
}
.second{
    text-align: center;
    color: white;
    padding: 0px 67px;
}

/* third section  */

.viewbadge{
    color: #00FF88;
}
.pera{
    color: white;
}

.trhird-section{
 padding:50px 200px;
 display: grid;
 grid-template-columns: repeat(4,1fr);
 justify-content: center;
 align-items: center;
 text-align: center;
}

/* four-section */
.four-section{
    background-color: #230E3D;
    padding: 140px 200px;
}


/* grid layout */

.music{
    grid-area: m;
    background-color: #351165;
    border-radius: 10px;
    padding: 100px 40px;
    color: white;
}
.mobile{
    grid-area: mo;
    background-color: #351165;
    border-radius: 10px;
    padding: 40px 40px;
    color: white;
}
.global{
    grid-area: g;
    background-color: #351165;
    border-radius: 10px;
    padding: 40px 40px;
    color: white;
}
.exclusive{
    grid-area: e;
    background-color: #351165;
    border-radius: 10px;
    padding: 40px 40px;
    color: white;
}
.rich{
    grid-area: r;
    background-color: #351165;
    border-radius: 10px;
    padding: 40px 40px;
    color: white;
}

.layouts{
    display: grid;
    grid-template-areas:
    "m mo mo mo"
    "m mo mo mo"
    "m g g g "
    "m g g g "
    "e e e r"
    ;
    gap: 30px;
    

}

.gridhero{
    text-align: center;
    padding-bottom: 20px;
    color: white;
}

/* fifth section Feature */
.feature{
    padding: 120px 100px;
    
}

.contents{
    color: white;
    padding: 24px;
}
.time{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #00FF88;
}

.card{
    background-color: #351165;
    border-radius: 20px;
    overflow: hidden;
}
.cards{
    display: flex;
    gap: 10px;
}


.feature-hero{
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

/* host section  */
.hostmain{
    display: flex;
    background-color: #351165;
    padding: 40px;
    border-radius: 20px ;
    gap: 25px;
}

.meet{
    padding: 50px 100px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.host-content{
    color: white;
}

/* footer */
.icon{
    display: flex;
    gap:4px;
    align-items: center;
    color: white;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.iconss{
     display: flex;
    justify-content: center;
    gap: 50px;
}
.copy{
    color: white;
}

.footers{
    text-align: center;
    background-image: url(./assets/footer-bg.png);
    padding: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.innfooter{
    
}


/* responsive layout  */

@media  (max-width:576px) {
   .link,.btns{
    display: none;
   }
   .hamburger{
    display:block;
   }

   /* .frist-section{
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding:60px 0px;
    background-position: center;
    animation:righttoleft 0.7s ease ;
    
} */
 .navbar{
    padding: 0px 20px;
 }
 .frist-section{
    background-size: contain;
    
 }

 /* .microback{
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 100px;
    position: relative;
    
} */
 .microback{
   background-size:160px;
    padding: 50px;
   margin-top: 100px;

 }
 .microimage{
    height: 80px;
 }

 /* .badge{
    color: black;
    position: absolute;
    top: 20%;
    right: 40%;
    background-color: #00FF88;
    padding:5px 10px;
    border: none;
    border-radius: 20px;
} */
 .badge{
   top: 38%;
   right: 30%;
   font-size: small;
 }
 .fristroot{
    padding: 0 5px;
 }
 .second-section{
    margin: 10px;
 }
 .second{
    padding: 20px;
 }

 /* .trhird-section{
 padding:50px 200px;
 display: grid;
 grid-template-columns: repeat(4,1fr);
 justify-content: center;
 align-items: center;
 text-align: center;
} */
 .trhird-section{
    grid-template-columns: repeat(2,1fr);
    padding:10px;
 }
 .layouts{

    grid-template-areas:
    "m"
    "mo"
    "g"
    "e"
    "r"
    ;
    gap: 20px;
    

}
.four-section{
    background-color: #230E3D;
    padding: 20px;
}
.gridhero{
    font-size: 25px;
}

.cards{
    flex-direction: column;
}
.feature{
    padding:20px;
    
}
.hostmain{
    flex-direction: column;
}
.meet{
    padding: 20px;
    text-align: center;
}
.logo{
    justify-content: center;
}

.icons{
   flex-direction: column;
   gap: 5px;

}
.iconss{
    gap: 5px;
}
.footers{
padding: 10px;
/* background-color:#2b104b ; */
background-size: cover;
background-position: center;
object-fit: contain;


}
}

/* @media (max-width:412px) {
    .badge{
        top: 28%;
        right: 30%;
        font-size: small;
        }
}

@media (max-width:360px) {
    .badge{
        top: 34%;
        right: 30%;
        font-size: small;
        }
} */